{% extends 'basic.html' %}

{% block content %}

<div class="container mt-5">

    <div class="card p-4 shadow">

        <h2 class="text-success">
            Payment Successful
        </h2>

        <hr>

        <p>
            <strong>Movie:</strong>
            {{ theater.movie.name }}
        </p>

        <p>
            <strong>Theater:</strong>
            {{ theater.name }}
        </p>

        <p>
            <strong>Payment Method:</strong>
            {{ payment_method }}
        </p>

        <p>
            <strong>Amount Paid:</strong>
            ₹{{ amount }}
        </p>

        <p class="text-success">
            <strong>Booking Status:</strong>
            Confirmed
        </p>

        <a href="/" class="btn btn-primary">
            Back Home
        </a>

    </div>

</div>

{% endblock %}