<!DOCTYPE html>
<html>
<body>

<h2>Booking Confirmation</h2>

<p>Hello {{ user.first_name }},</p>

<p>Your ticket has been successfully booked.</p>

<table border="1" cellpadding="10">
    <tr>
        <td>Movie</td>
        <td>{{ booking.show.movie.name }}</td>
    </tr>

    <tr>
        <td>Theater</td>
        <td>{{ booking.show.theater.name }}</td>
    </tr>

    <tr>
        <td>Show Time</td>
        <td>{{ booking.show.show_time }}</td>
    </tr>

    <tr>
        <td>Seats</td>
        <td>{{ seats }}</td>
    </tr>

    <tr>
        <td>Payment ID</td>
        <td>{{ payment_id }}</td>
    </tr>
</table>

<p>Thank you for booking with us.</p>

</body>
</html>