<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Booking Confirmation</title>
</head>

<body>

    <h2>🎟️ Booking Confirmed!</h2>

    <p>Hello {{ user_name }},</p>

    <p>
        Your BookMySeat ticket has been successfully booked.
    </p>

    <hr>

    <h3>Booking Details</h3>

    <p>
        <strong>Booking ID:</strong>
        {{ booking_id }}
    </p>

    <p>
        <strong>Movie:</strong>
        {{ movie_name }}
    </p>

    <p>
        <strong>Theater:</strong>
        {{ theater_name }}
    </p>

    <p>
        <strong>Show Time:</strong>
        {{ show_time|date:"d M Y, h:i A" }}
    </p>

    <p>
        <strong>Seat:</strong>
        {{ seat_number }}
    </p>

    <hr>

    <h3>Payment Details</h3>

    <p>
        <strong>Payment ID:</strong>
        {{ payment_id }}
    </p>

    <p>
        <strong>Amount:</strong>
        ₹{{ amount }}
    </p>

    <p>
        <strong>Payment Method:</strong>
        {{ payment_method }}
    </p>

    <p>
        <strong>Payment Status:</strong>
        {{ payment_status }}
    </p>

    <hr>

    <p>
        Thank you for using BookMySeat!
    </p>

</body>
</html>